{%extends "main_page.html"%}
{% block extra_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock extra_head %}
{%block content%}
<div class="stock-page">
    <h1>Stock and Crypto Currency Data</h1>
    <div class="error-message">
        {% if error_message %}
            {{ error_message | safe }} <br>
        {% endif %}
    </div>
    <div>
        <p>
            Welcome to the Stock & Crypto Currency Data Fetcher.
        </p>
        <p>
            <h4>Stock Data Fetcher</h4>
            Its a simple hobby project which consists of two parts.
            Users can fetch any given stock's data from yahoo for given dates. Currently there are
            just 100 stocks to choose from. Data is then displayed in a candlestick chart.
            Few pages are used for providing general guidelines about stocks.
            There is an admin panel for adding, updating and deleting reference material
            for the website. A user module is also developed to take care of
            user registration, login, logout, password recovery and other user related operations.
            Data about stocks and users is saved in a PostgreSQL database.
            Tools used are Python, Bokeh and Flask.
        </p>
        <p>
            <h4>Crypto Currency Portfolio</h4>
            The Crypto Currency Portfolio web app lets the user to enter
            their currencies and amount of each currency and fetches respective
            currency data from www.coinmarketcap.com website. The data is
            fetched by making API calls to coinmarketcap. Users portfolio
            is displayed in a tabular form afterwards.
        </p>
    </div>
</div>
{% endblock %}
