<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>{% block title %}Stock And Crypto Data{% endblock %}</title>
    {% block extra_head %}{% endblock extra_head %}
    {% include 'snippets/css.html' %}
</head>
<body>
    {% include 'main_nav_bar.html' %}
    <main role="main" class="container">
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message | safe }}
                    </div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {%block content%}{%endblock%}
    </main>
    <div class="main-footer">
        <div>
            Thanks for visiting <br>
            Developed by <a href="https://faisalakhlaq.com" target="_blank">Faisal Akhlaq</a>
        </div>
        <div>
            &#169; Faisal Akhlaq
        </div>
    </div>
{% block extra_scripts %}
    <script>
        var message_ele = document.getElementsByClassName("flash-messages")[0];
        setTimeout(function(){
          if(message_ele != null){
            message_ele.style.display = "none";
          }
        }, 30000);
        // message div should disappear after 30 sec
    </script>
    {% include 'snippets/css.html' %}
{% endblock extra_scripts %}
</body>
</html>
