{% extends "main_page.html" %}
{% block title %} Stock Data Fetcher {% endblock %}
{% block content %}
<!--<script type="text/javascript" src="{{cdn_js | safe}}"></script>-->
<div class="stock-page mb-3">
    <h1>Stock Data</h1>
    <p>Stock data displayed in the graphical form using bokeh</p>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="form-control-label" for="stock_ticker_list">Choose a Stock</label>
            <select class="form-control custom-select col-md-2" aria-label=".form-select-lg example"
                    name="stock_ticker_list" id="stock_ticker_list">
            {% for ticker in list_of_tickers%}
                <option value="{{ ticker }}">{{ticker}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.startdate.label(class="form-control-label") }}
            {{form.startdate(class='datepicker')}}
        </div>
        <div class="form-group">
            {{ form.enddate.label(class="form-control-label") }}
            {{form.enddate(class='datepicker')}}
        </div>
        <div class="form-group">
            {{form.submit(class='btn btn-outline-info')}}
        </div>
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </form>
</div>
{% if script1 %}
<script type="text/javascript" src="{{cdn_js | safe}}"></script>
{% endif %}
{{script1 | safe}}
{{div1 | safe}}
{% endblock content%}
