{%extends "blog_main.html"%}
{% block extra_head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/blog/blog_home.css')}}">
{% endblock extra_head %}
{% block title %} Blog | {{ super() }} {% endblock %}
{% block blog_content %}
    <div class="text-center mb-3">
        <div class="error-message">
                {{ error_message | safe }}
        </div>
        <h1 class="text-">Stock Basics and Guidelines</h1>
        <p>
            "Stock market investing is not a get rich quick scheme. We have a stay patient."
            <br><i>Micheal Ezeanaka</i>
        </p>
        <p>This blog presents writers own ideas and findings that may be right or wrong.
            Therefore, these should not be considered as standard. The blog
            provides a general guideline to a person who is new investor and not very familiar with
            stocks.</p>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" id="query" name="query">
            <button class="btn btn-primary" type="submit">Search</button>
            <button name='refresh' class="btn btn-primary" type="submit">View All</button>
        </form>
    </div>
    {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
            {% if post.author %}<small><a class="mr-2" href="{{url_for('users.profile', username=post.author.username)}}">
                {{ post.author }}</a></small>
            {% endif %}
            <small class="text-muted">{{ post.updated.strftime('%Y-%m-%d') }}</small>
        </div>
        <a class="article-title" href="{{url_for('blog.post', pid=post.id)}}"><h3>{{post.term_name}}</h3></a>
        {% if post.definition %}
        <h5>Definition</h5>
        <p class="article-content">{{ post.definition[:100] }} ...</p>

        {% elif post.description %}
        <h5>Description</h5>
        <p class="article-content">{{ post.description[:100] }} ...</p>

        {% elif post.calculation_process %}
        <h5>Calculation Process</h5>
        <p class="article-content">{{ post.calculation_process[:100] }} ...</p>
        {% endif %}
      </div>
    </article>
{% endfor %}
{% endblock blog_content %}
