{% extends "main_page.html" %}
{% block title %} {{ post.term_name[:10] }} | {{ super() }} {% endblock %}
{% block content %}
<div class="bpost-container">
    <h1>{{ post.term_name }}</h1>
<!--    <form method="POST">-->
<!--        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>-->
<!--        <input type="text" id="query" name="query">-->
<!--        <button class="btn btn-primary" type="submit">Search</button>-->
<!--        <button name='refresh' class="btn btn-primary" type="submit">View All</button>-->
<!--    </form>-->
    <p>
        {% if post.definition %} <h5>Definition</h5> {{ post.definition }} {% endif %}
        {% if post.description %} <h5>Description</h5> {{ post.description }} {% endif %}
        {% if post.calculation_process %} <h5>Calculation Process</h5> {{ post.calculation_process }} {% endif %}
    </p>
</div>
{% endblock %}
